<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="../logo.png" />
    <link rel="stylesheet" href="../style.css" />

    <title>Local Downloader</title>
  </head>
  <body>
    <!-- <progress style="width: 100%"></progress> -->
    <marquee direction="left" behavior="scroll" scrollamount="14">
      <h1>Welcome to Abdelrhman's Downloader</h1>
    </marquee>

    <table>
      <tr>
        <th>File Name</th>
      </tr>
      <% files.forEach((file, index)=>{ %>
      <tr>
        <td>
          <a href="../<%- file %>" target="__blank" download> <%- file %> </a>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
